@model int

<div class="container  pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Tvoja rezervacija je potvrđena!</h1>
        Broj rezervacije je :  @Model<br />
        <p>Možeš pogledati sve detalje rezervacije u odjeljku Rezervacije.</p>
        <img src="~/images/orderConfirmed.jpg" style="border-radius:20px" width="65%" />
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">Pakiraj kofere! Jednom nogom si bliže nevjerojatnom odmoru!</p>
    </div>
</div> 